{{ 'icon-list.css' | asset_url | stylesheet_tag}}

<style>
    #shopify-section-{{ section.id }}{
        background:{{ section.settings.background }}
    }
</style>
<div class="wrapper" style="--text-color:{{ section.settings.text_color }}">
    <h2>{{ section.settings.title }}</h2>
    <p>{{ section.settings.desc }}</p>
    <div class="services-container">
       {% content_for 'blocks' %}
    </div>
</div>
{% schema %}
{
    "name": "icon list",
    "class": "icon-list-section",
    "tag": "section",
    "settings": [
        {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default":"Why Choose Us?"
        },
        {
        "type": "textarea",
        "id": "desc",
        "label": "Short description",
        "default":"Discover our range of services designed to provide the best experience for you. We ensure quality, reliability, and customer satisfaction."
        },
        {
        "type": "color_background",
        "id": "background",
        "label": "Background",
        "default": "linear-gradient(#ffffff, #000000)"
        },
        {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default":"#000"
        }
        
    ],
    "blocks": [
        {
        "type": "@theme",
        }
    ],
    "presets": [{"name": "icon list"}]
}
{% endschema %}