{{ 'icon-list.css' }}
<div>
    <h2>{{ section.settings.title }}</h2>
    <p>{{ section.settings.desc }}</p>
    <div class="services-container">
        {%  for blocks in section.blocks  %}
            {% if blocks %}
                {{ blocks.settings.service_icon | image_url: width: 50, height: 50 | image_tag }}
                <p>{{ blocks.settings.service_label }}</p>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% comment %} {{ section.blocks }} {% endcomment %}
{% schema %}
{
    "name": "icon list",
    "class": "icon-list-section",
    "tag": "section",
    "settings": [
        {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default":"Why Choose Us?"
        },
        {
        "type": "textarea",
        "id": "desc",
        "label": "Short description",
        "default":"Discover our range of services designed to provide the best experience for you. We ensure quality, reliability, and customer satisfaction."
        },
        
    ],
    "blocks": [
        {
        "type": "services",
        "name":"Service",
        "settings": [
            {
            "type": "image_picker",
            "id": "service_icon",
            "label": "Service Icon"
            },
            {
            "type": "text",
            "id": "service_label",
            "label": "Service"
            }
        ],
        "limit": 3
        }
    ],
    "presets": [{"name": "icon list"}]
}
{% endschema %}