{% liquid
  assign promotions = section.blocks | where:"type","promotion"
%}
<div class="promotion-container" style="text-align:{{ section.settings.horizontal_alignment }}">
    <h2>{{ section.settings.title }}</h2>
    {% if promotions %}
        <div class="promotions">
            {% for promotion in promotions %}
                    <div class="promotion">
                        {% if promotion.settings.title %}
                             <p>{{ promotion.settings.title }}</p>
                        {% endif %}
                        {% if promotion.settings.image %}
                            {{ promotion.settings.image | image_url: width: 500, height: 500 | image_tag}}
                        {% endif %}
                    </div>
            {% endfor %}
            </div>
    {% endif %}
</div>

<style>
    {{section.settings.custom_font | font_face:font_display: 'auto'}}
    .promotion-group{
        font-family:{{section.settings.custom_font.family }}
    }
</style>

{% stylesheet %}
  .promotion-container{
    display:flex;
    flex-direction:column;
  }
  .promotions{
    display:flex;
    justify-content:space-around;
  }
  .promotion{
    flex:1;
  }
{% endstylesheet %}
{% schema %}

    {
        "name": "Promotions Group",
        "tag": "section",
        "class": "promotion-group",
        "settings": [
            {
                "type": "header",
                "content": "Avaliable Inputs",
                "info": "Try these input! [Learn more!](https://shopifydev.com)"
            },
            {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default":"Promotion"
            },
            {
                "type": "font_picker",
                "label": "custom font",
                "id": "custom_font",
                "default":"sans-serif"
            },
            {
            "type": "select",
            "id": "horizontal_alignment",
            "label": "Horizontal alignment",
            "options": [
                {
                "value": "start",
                "label": "Left"
                },
                {
                "value": "center",
                "label": "Center"
                },
                {
                "value": "end",
                "label": "Right"
                }
            ],
            "default": "center"
            }
            
        ],
        "blocks": [
           {
                "type": "promotion",
                "name":"Promotion",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    }
                ]
            }

        ],
        "presets": [{"name": "Prmotions Group"}]
    }

{% endschema %}